body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #f0f0f0;
}

.container {
    
    padding: 20px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 1200px;
    height: inherit;
    
}
.generate-secret-key{
    background: slategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.generate-btn{
    margin:30px;
    padding: 30px;
    border-radius: 5px;
    width: 250px;
    color: white;
    background-color: rgb(14, 14, 126);

}
.password-display{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 200px;
    border: 1px solid #ccc;
    font-size: 24px;
}

.input-match {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background: slategray;
    width: 600px;
}

.input-pin-section{
        display: grid;
        grid-template-columns: repeat(2,140px);
        grid-gap: 10px;
        margin: 20px;
        width:300 px;
}

.enter-password-display {
    width: 150px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: 1px solid #ccc;
}

h2{
    color: white;
    width: 150px;
    
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-gap: 10px;
    margin-bottom: 20px;
    width:300;
}

.key {
    width: 70px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 132, 136);
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    color:white;
    transition: background-color 0.3s;
}

.key1 {
    width: 70px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    color:white;
    transition: background-color 0.3s;
}

.key2 {
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgb(230, 33, 33);
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    color:white;
    transition: background-color 0.3s;
}
.submit-btn{
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: green;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    color:white;
    transition: background-color 0.3s;
}

#message {
    margin-top: 10px;
    font-size: 18px;
}


@media (min-width: 600px) {
    .keypad {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 599px) and (min-width: 400px) {
    .keypad {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 399px) {
    .keypad {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 600px) {
    .input-pin-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 599px) and (min-width: 400px) {
    .input-pin-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 399px) {
    .input-pin-section {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}
